/* Start Header */
.header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .inner-logo{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
 
/* End Header */

/* 
include ../pages/partials/header.pug
        .body
            include ../pages/partials/sider.pug
            .main
            block content
        include ../pages/partials/footer.pug */
/* Body */
.body .sider{
    width: 150px;
    background: #333212;
    color: #fff;
    position: fixed;
    height: calc(100vh - 60px);
    top: 56px;
    left: 0;
}

.body .main{
    margin: 15px;
    position: relative; 
    left: 150px;
    width: calc(100% - 180px);
    height : calc(100vh - 120px);
}

/* End body */

/* Start Footer */
.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
/* End Footer */

.sider .inner-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sider .inner-menu ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}


/* button active
.btn-group#filter-status
                button.btn.btn-primary(type='button', value='') All
                button.btn.btn-primary(type='button', value='active') Active
                button.btn.btn-primary(type='button', value='inactive') Inactive */

.btn-group .btn.isActived {
    background-color: #007bff; /* Màu xanh dương */
    color: white;
    border-color: black;
}

.btn-group .btn.isActived:hover {
    background-color: #0056b3; /* Màu xanh đậm hơn khi hover */
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: 0.3s;
}

/* Hiệu ứng hover */
.page-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* Trang hiện tại */
.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

/* Ẩn nút khi không khả dụng */
.page-item.inactive {
    display: none;
}
