mixin filter-status(filterStatus)
    .btn-group#filter-status
                each item in filterStatus 
                    button.btn.btn-primary(class=item.class, type='button', value=item.status) #{item.name}